*{
    background-color: #9DBBAE;
    border: 0;
    margin: 0;
}

.colours{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.colours_column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: bisque;
}

.colour{
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}